#todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#todo-list {
  font-size: 20px;
  max-height: 400px;
  overflow-y: auto;
}
#todo-list::-webkit-scrollbar {
  display: none;
}
#todo-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#todo-list button {
  background-color: transparent;
}
